GTChallenge.REST.Test/Service References/ChallengeRecordClient/ChallengeRecordsService3.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GTChallenge.REST" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/GTChallenge.REST"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="RecordFault">
            <xs:sequence>
                  <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
                  <xs:element minOccurs="0" name="RecordLine" nillable="true" type="xs:string" />
            </xs:sequence>
      </xs:complexType>
      <xs:element name="RecordFault" nillable="true" type="tns:RecordFault" />
</xs:schema>