GTChallenge.REST/Service References/ChallengeRecordManagerClient/GTChallenge.Code.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GTChallenge.Code" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/GTChallenge.Code"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ArrayOfRecordItem">
            <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordItem" nillable="true"
                              type="tns:RecordItem" />
            </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfRecordItem" nillable="true" type="tns:ArrayOfRecordItem" />
      <xs:complexType name="RecordItem">
            <xs:sequence>
                  <xs:element minOccurs="0" name="Dateofbirth" nillable="true" type="xs:string" />
                  <xs:element minOccurs="0" name="Favorite" nillable="true" type="xs:string" />
                  <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
                  <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
                  <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
            </xs:sequence>
      </xs:complexType>
      <xs:element name="RecordItem" nillable="true" type="tns:RecordItem" />
</xs:schema>