GTChallenge.REST/Service References/ChallengeRecordManagerClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.datacontract.org/2004/07/GTChallenge.Code" />
      <xs:element name="GetRecords">
            <xs:complexType>
                  <xs:sequence />
            </xs:complexType>
      </xs:element>
      <xs:element name="GetRecordsResponse">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTChallenge.Code" minOccurs="0"
                                    name="GetRecordsResult" nillable="true" type="q1:ArrayOfRecordItem" />
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="AppendRecord">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element minOccurs="0" name="dataline" nillable="true" type="xs:string" />
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="AppendRecordResponse">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element minOccurs="0" name="AppendRecordResult" type="xs:boolean" />
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>